/* ******************* */
/*        Grid         */
/* ******************* */
* {
	padding: 0px;
	margin: 0px;
}
html,
head,
body {
	position: relative;
	overflow-x: hidden;
}
body{
	background-color: $white;
}
#body {
	overflow-x: hidden;
}
